/zmija.pas
/db/
/greybox_tmp/
/incremental_db/
/simulation/
/asm.bat
/customasm.exe
/nova.txt
/computer - Copy.v
/cpu - Copy (3).v
/cpu - Copy (2).v
/cpu - Copy.v
/VERSION - Copy.TXT
/vga_module - Copy.v
/spi.v.bak
